################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SourceCode/AdventCode2021/.vs/AdventCode2021
/SourceCode/AdventCode2021/Day06_Lanternfish/bin
/SourceCode/AdventCode2021/Day06_Lanternfish/obj
/SourceCode/AdventCode2021/Day06_Lanternfish_Perfo1/bin
/SourceCode/AdventCode2021/Day06_Lanternfish_Perfo1/obj
